notas.txt

# Entorno virtual
env/
venv/
.venv/

# Archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Configuración local de Django
*.sqlite3
db.sqlite3
local_settings.py

# Archivos de migraciones que no quieres subir (opcional)
*/migrations/*.py
!*/migrations/__init__.py

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos estáticos compilados (si usas collectstatic)
staticfiles/

# Otros temporales
*.env
*.bak
*.swp

# Archivos generales de imagen
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
*.ico
*.tiff
*.tif
*.avif
*.jxl

# Archivos de Adobe (Photoshop, Illustrator, InDesign)
*.psd
*.psb
*.ai
*.eps
*.indd
*.indt
*.inx
*.idml
*.pmd
*.pdd

# Formatos RAW de cámaras digitales (exhaustivo)
*.3fr
*.ari
*.arw
*.bay
*.braw
*.cr2
*.cr3
*.crw
*.ciff
*.dcr
*.dng
*.erf
*.fff
*.gpr
*.iiq
*.k25
*.kdc
*.mdc
*.mos
*.mrw
*.nef
*.nrw
*.orf
*.pef
*.ptx
*.pxn
*.r3d
*.raf
*.raw
*.rw2
*.rwl
*.sr2
*.srf
*.x3f

# Archivos de diseño y misc.
*.xcf
*.cdr
*.sketch
*.jp2
*.heic
*.heif

*.pdf 
*.docx 
*.xlsx
*.pptx 
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
